<div>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <%- image_tag('images/cc_license.png') %>
    </a>
    <p>
      <% if (config.author){ %>
      &copy; <%= new Date().getFullYear() %> <%= config.author %>
      <% } else { %>
      &copy; <%= new Date().getFullYear() %> <%= config.title %>
      <% } %>
    </p>
    <div>
      <%- __('footer.powered')%>
        <a class="" href="https://hexo.io">Hexo</a>
        and
      <%- __('footer.theme') %>
        <a class="" href="https://github.com/dz1984/hexo-theme-plight">
          PLight
        </a>
    </div>
</div>
